*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    cursor: default;
    height: 815px;
    background: rgb(255,109,0);
    background: linear-gradient(180deg, rgba(255,109,0,1) 0%, rgba(255,255,255,1) 50%, rgba(0,215,1,1) 100%); 
}
/* outer div to center inner divs */
.cOutline{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;   
    width: 100%;    
}
/* body of the calculator */
.cbody{
    border: solid black 5px;
    border-radius: 10px;
    height: 530px;
    width: 500px;
    background-color: gainsboro;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* calculator screen */
.cscreen{
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 30px;
    height: 100px;
    background-color: black;
    overflow: auto;
}
/* text of the calculator screen */
#calculate{
    font-family: 'Courier New', Courier, monospace;
    text-align: end;
    padding-top: 55px;
    padding-right: 10px;
    color: white;
}
/* button to clear */
.col1{
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 50px;
    height: 40px;
    margin-top:20px;
    margin-left: 35px;
    text-align: center;
    padding-top: 5px;
    background-color: white;
    transition: 0.2s;

}
/* back button */
.col2{
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 50px;
    height: 40px;
    margin-left: 70px;
    text-align: center;
    padding-top: 5px;
    background-color: white;
    transition: 0.2s;
}
/* button for percentage */
.col3{
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 50px;
    height: 40px;
    margin-left: 70px;
    text-align: center;
    padding-top: 5px;
    background-color: white;
    transition: 0.2s;

}
/* button to add */
.col4{
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 50px;
    height: 40px;
    margin-left: 70px;
    text-align: center;
    padding-top: 5px;
    background-color: white;
    transition: 0.2s;
}
.col1:hover{
    background-color: rgb(200, 200, 200);
}
.col2:hover{
    background-color: rgb(200, 200, 200);
}
.col3:hover{
    background-color: rgb(200, 200, 200);
}
.col4:hover{
    background-color: rgb(200, 200, 200);
}
.col1:active{
    background-color: gray;
}
.col2:active{
    background-color: gray;
}
.col3:active{
    background-color: gray;
}
.col4:active{
    background-color: gray;
}
h2{
    cursor: pointer;
}